body {
  background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
  font-family: 'Pangolin', cursive;
}
.container
{
  display: grid;
  grid-template-columns: auto auto ;
  justify-content:space-between;
  border: 2px solid #fbd46d;
  border-radius: 50px;
  border-width: medium;
  padding: 20px 20px 20px 20px
}
label{
  display: block;
  font: 'Pangolin', cursive;
}
input,label{
  margin: .4rem 0;
}
