body {
    background: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
    font-family: 'Pangolin', cursive;
    color: #fbd46d;
}

#main_titile {
    display: grid;
    justify-content: center;
    color: #fbd46d;
    align-content: center;
    font-size: 10rem;
}

.main-block-A {
    padding-top: 10px;
    display: grid;
    grid-template-rows: auto auto;
    border: 2px solid black;
    border-radius: 10rem;
    justify-content: center;
    height: auto;
    background-color: white;
}

.un-order_list_tasks {
    list-style-type: circle;
    height: auto;
    width: 40rem;
    border-radius: 20rem;
    color: black;
    font-size: 2rem;
    padding-bottom: 2rem;
}

#enterdolist {
    background-color: black;
    color: white;
    font-size: 2rem;
    border-radius: 20rem;
}

#add_more_task_button {
    border-radius: 10rem;
}